.header{
    background:green;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 20px;
    float:left;
    border:1px solid red;
    width:100%;
}
.brandname{    
    color: white;
    font-size: 1em;
    margin-left: 0;
    border:1px solid red;
    float:left;
    width:100%;
}

.icons{
    color:white;
    text-align: center;
    float:right;
    border:1px solid red;
    width:10%;
}