.header{
    background:green;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 20px;
}
.brandname{    
    color: white;
    font-size: 1em;
    margin-left: 0;
}