<app-header></app-header>

<div class="main">

    <div class="content">

        <label class="text">Teams</label>
        <div class="form-group white">
            <input id="my-input" class="form-control text-fields" type="text" placeholder="Host Team" name=""><br>
            <input id="my-input" class="form-control text-fields" type="text" placeholder="Visitor Team" name="">
        </div>
        
        <label class="text">Toss Won By ?</label>
        <div class="form-group white">
            <input class="" type="radio" name="" value="Host Team"> Host Team
            <input class="" type="radio" name="" value="Visitor Team"> Visitor Team
        </div>
    
        <label class="text">Opted To ?</label>
        <div class="form-group white">
            <input class="" type="radio" name="" value="Bat"> Bat
            <input class="" type="radio" name="" value="Bowl"> Bowl
        </div>
    
        <label class="text">Overs ?</label>
        <div class="form-group white">
            <input id="my-input" class="form-control text-fields" type="text" placeholder="16" name="">
        </div>
    
        <div class="start" style="width: 100%;">
            <a href="#" class="link">Advanced Settings</a>
            <button class="btn btn-success" type="button">Start Match</button>
        </div>
    </div>

</div>

